{% extends "flickr/base_flickr.html" %}

{% block title %}{{ block.super }} - {{ photo.title }}{% endblock %}

{% block content_title %}
	<h2><a href="{{ photo.url }}">{{ photo.title }}</a></h2>
	<div>
		<p>
			Taken by <a href="{{ photo.flickr_profile_url }}" class="fn url">{{ photo.taken_by }}</a> {{ photo.date_uploaded|timesince }} ago.
		</p>
		{% if photo.tag_set.all %}<p class="alt tags">
			{% for tag in photo.tag_set.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% ifequal forloop.revcounter0 1 %} and {% endifequal %}{% endfor %}
		</p>{% endif %}
	</div>
{% endblock %}

{% block content %}
	<a href="{{ photo.url }}"><img src="{{ photo.image_url }}" alt="{{ photo.title }}"></a>
	
	{% load comments %}
	{% get_comment_count for photo as comment_count %}
	{% get_comment_list for photo as comment_list %}
	<div id="flickr_photo_{{ photo.id }}_comments">
		<a name="comments"></a>
		{% if comment_count %}
			<div id="comments">
				<h3 class="comments_title">Comments ({{ comment_count }})</h3>
				{% for comment in comment_list %}
					<div class="comment {% if comment.user %}member{% endif %} {% ifequal comment.user post.author %}author{% endifequal %}">
						<h4 class="name vcard">
							<a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" title="Permalink to {{ comment.name }}'s comment">#</a>
							{% if comment.url %}<a href="{{ comment.url }}" class="url fn">{{ comment.name }}</a>{% else %}<span class="fn">{{ comment.name }}</span>{% endif %} said
						</h4>
						{{ comment.comment|striptags|urlizetrunc:"20"|linebreaks }}
						<p class="alt date">{{ comment.submit_date|date:"P" }} on {{ comment.submit_date|date:"F j, Y" }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		
		{% render_comment_form for photo %}
{% endblock %}