{% extends "flickr/base_flickr.html" %}

{% block title %}{{ block.super }}: Flickr Photos{% endblock %}

{% block content_title %}
	<h2>Flickr Photos</h2>
{% endblock %}

{% block content %}
	{% for photo in photos.object_list %}
		<a href="{{ photo.get_absolute_url }}" title="{{ photo.title }}" class="flickr_photo_link"><img src="{{ photo.square_url }}" alt="{{ photo.title }}"></a>
	{% endfor %}
	
	{% if photos.has_other_pages %}
		<div id="pagination">
			<p>
				{% if photos.has_previous %}<a href="{% url flickr_index_paginated photos.previous_page_number %}" title="Page {{ photos.previous_page_number }}">Previous</a>{% endif %}
				{% if photos.has_previous and photos.has_next %}-{% endif %}
				{% if photos.has_next %}<a href="{% url flickr_index_paginated photos.next_page_number %}" title="Page {{ photos.next_page_number }}">Next</a>{% endif %}
			</p>
		</div>
	{% endif %}
{% endblock %}